.EventDetail {
  display: flex;
  flex-direction: row;
  /* background-color: saddlebrown; */
  justify-content: center;
}

.event-info {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.event-image {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin: 50px;
}

.event-input {
  margin-bottom: 20px !important;
}

.event-tag-header {
  margin-bottom: 8px !important;
}

.event-tags {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
}

.event-dates {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.to {
  margin: 0px 25px;
}

.event-n-part {
  width: 200px;
}
