.Home {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: rebeccapurple; */
}

.home-content {
  display: flex;
  padding: 30px;
  flex-direction: column;
  margin-left: 80px;
  /* background-color: red; */
  flex: 1;
}
