.Tag {
  background-color: rosybrown;
  padding: 4px 12px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 4px;
}
.tag-title {
  display: flex;
  margin-right: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.tag-remove {
  padding: 0px !important;
  margin: 0px !important;
}

.creat-room-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.create-room-btn {
  margin-left: 50px !important;
}

.next {
  width: 100px !important;
}
